@import url('header.css');
@import url('bunner-section.css');
@import url('simpler-section.css');
@import url('exampler-section.css');
@import url('perfect-section.css');
@import url('offer-section.css');
@import url('question-section.css');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

:root {
  --Inter: "Inter", sans-serif;
  --Charis: "Charis SIL", serif;
  --index: calc(1vw + 1vh);
  --text: #1E2533;
  --hero-color: #FC8C5F;
}

header {
  position: relative;
  z-index: 100;
}

main {
  position: relative;
  top: -92px;

}

.text-color {
  color: var(--hero-color);
}


.center {
  max-width: 1352px;
  margin: 0px auto;
}


.wrapper {
  max-width: 1920px;
  margin: 0px auto;
  overflow-x: hidden;
}

@media (max-width: 1360px) {
  .center {
    width: 100%;
    padding: 0px 25px;
    margin: 0px auto;
  }
}

a {
  text-decoration: none;
}

.section-title {
  text-align: center;
  font-size: 45px;
  font-family: var(--Charis);
  font-weight: 400;
}

@media (max-width: 1045px) {
  .section-title {
    font-size: 40px;
  }
}