.simpler-section {}

.simpler-title {
  text-align: center;
  font-size: 45px;
  font-family: var(--Charis);
  font-weight: 400;
}

.tab-filter__container {
  margin-top: 53px;
}

.nav_container ul {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.nav-tab {
  cursor: pointer;
  display: block;
  padding: 18px 20px;
  background: rgba(173, 135, 128, 0.15);
  color: var(--hero-color);
  font-size: 16px;
  font-weight: 700;
  font-family: var(--Inter);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.active-nav {
  background: rgba(173, 135, 128);
  color: #FFFFFF;
}

.tab-description__container {
  margin-top: 40px;
  display: flex;
  background: #F9EFEB;
  border: 4px solid #FFFFFF;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 0px 0 6px #F9EFEB;
}

.tab-images__container {
  width: 50%;
  align-self: flex-end;
}

.tab-images__container img {
  align-self: flex-end;
}

.tab-text__container {
  margin: 40px 0px 40px 0px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 21px;
  align-items: center;
}

.tab-text__element {
  width: 455px;
  height: 150px;
  position: relative;
  border: 4px solid #FFFFFF;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 9px 6px 10px #f7e2d9;

}

.tab-img {
  position: absolute;
  top: 5%;
  left: -54px;
}

.tab-text {
  font-family: var(--Inter);
  font-size: 18px;
  font-weight: 600;
  padding: 40px 30px 40px 85px;
}